<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{layouts/head :: head}">
</head>

<body>
	<header th:insert="~{layouts/header :: header}">

	</header>
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Genero</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<tr th:each="pelicula : ${peliculas}">
					<th th:text="${pelicula.nombre}"></th>
					<td th:text="${pelicula.genero.nombre}"></td>
					<td>
						<a th:href="@{'/pelicula/' + ${pelicula.id}}">Editar</a> 
						<a th:href="@{'/pelicula/' + ${pelicula.id + '/delete'}}" class="text-danger">Eliminar</a> 
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>